<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pinteré</h1>
    <p class="lead">Un bonito subtítulo.</p>
    <p>Una descripción piolita, para traer más usuarios.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Empezar aquí!</a>
  </div>
</div>
